/* #container {
  background-color: beige;
} */
/* div {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  border: 1px solid green;
}
.box {
  background-color: black;
} */

ul.unorder li {
  text-decoration: none;
  padding: 10px;
  width: 140px;
  height: 40px;
  border: 1px solid green;
  margin: 10px;
  list-style-type: none;
}

ul + p {
  color: red;
}

div#container span {
  /* Some css */
}

p[title="y"] {
  color: red;
}

input[type="password"] {
  border: 1px solid red;
}

a[href^="https"] {
  color: red;
}

div:not(#container) {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  border: 1px solid green;
}
div:not(#container):hover {
  width: 100px;
  height: 100px;
  background-color: brown;
  border: 1px solid green;
}
/* div {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  border: 1px solid green;
}

div:hover {
  background-color: brown;
} */

div::after {
  content: "xyz";
}
